{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Note{% endblock title %}
{% block content %} 
	
	<h1 class="display-3">Add Note</h1>
	<div>
		
	
		<form method="POST" action="" >{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" class="btn btn-block btn-lg btn-success" name="submit" value="Add Note" id="submit">
		</form>	
	</div>
	<hr>
	<br>

	  <a type="button" href="{% url 'dashboard' %}"  class="btn btn-warning btn-lg  btn-block">Back To Dashboard ??</a>

{% endblock %}
