{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{  object.heading|truncatechars:10 }} -- Update{% endblock title %}
{% block content %}
	
	<h5 class="display-3">Update <b>"{{ object.heading|truncatechars:20 }}"</b> Note </h5>
	<div>
		
	
		<form method="POST" action="" >{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" class="btn btn-block btn-success btn-lg" name="submit" value="Update Note" id="submit">
		</form>	
	</div>
	<hr>
	<br>
	  <a type="button" href="{% url 'password_reset' %}"  class="btn btn-warning btn-lg btn-block">Forgot Password ??</a>
	  <a type="button" href="{% url 'register' %}"  class="btn btn-primary btn-lg btn-block">Register Account</a>

{% endblock %}