{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Notes Password{% endblock title %}
{% block content %}
	
	<h1 class="display-3">Confirm Password For Your Notes</h1>
	<div>
		
	
		<form method="POST" action="" >{% csrf_token %}
			{{ change_password_form|crispy }}
			<input type="submit" class="btn btn-block btn-success" name="submit" value="Confirm Password" id="submit">
		</form>	
	</div>
	<br>
	  <a type="button" href="{% url 'dashboard' %}" style="float: right;" class="btn btn-warning btn-lg ">Back To Dashboard</a>
	  <a type="button" href="{% url 'register' %}" style="float: left;" class="btn btn-primary btn-lg ">Register Account</a>

{% endblock %}