{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
	
	<h1 class="display-3">Edit Profile</h1>
	<div>
		
	
		<form method="POST" action="" >{% csrf_token %}
			{{ user_edit_form|crispy }}
			<input type="submit" class="btn btn-block btn-lg btn-success" name="submit" value="Edit Profile" id="submit">
		</form>	
	</div>
	<br>
	  <a type="button" href="{% url 'dashboard' %}" style="float: right;" class="btn btn-warning btn-lg ">Back To Dashboard ??</a>
	  <a type="button" href="{% url 'password_change' %}" style="float: left;" class="btn btn-primary btn-lg ">Reset Password</a>

{% endblock %}
