[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-colorfield = "*"
django-crispy-forms = "*"
markdown = "*"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"

[dev-packages]

[requires]
python_version = "3.6"
