{% load static %}
{% load blog_tags %}
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1 class="display-4" style="color: deeppink">{{ cd.subject }}</h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ cd.subject }}</h1>
    	{{cd.content}}
      <p class="lead">
    	<a class="btn btn-primary btn-lg" href="{% url 'intropage' %}" role="button">Go To Our Website</a>
 	</p>
  </div>
</div>











